.select {
    display: flex;
    justify-content: space-between;
}

.section-left {
    width: 412px;
    height: 132px;
    background-color: #fff;
    border: 1px solid #9c9c9d;
    box-shadow: 0 5px 5px 0 #686868;
    border-radius: 17px;
}

.title-left {
    color: #154467;
    margin: 0;
    text-align: center;
    font: 800 12px Arial, Tahoma, sans-serif;
    letter-spacing: 0.4px;
    position: relative;
}

.title-left-tires,
.title-left-drives {
    color: #154468;
    margin: 0;
    font: 800 10px Arial, Tahoma, sans-serif;
    letter-spacing: 0.4px;
    position: absolute;
}

.title-left-tires {
    top: 12px;
    left: 28px;
}

.title-left-drives {
    top: 11px;
    left: 362px;
}

.head-left {
    display: flex;
}

.tires,
.drives {
    width: 178px;
    margin: 3px 13px 0 16px;
}

.tires label,
.drives label {
    width: 70px;
    font: 10px Arial, Tahoma, sans-serif;
    letter-spacing: 0.25px;
    display: inline-block;
    vertical-align: middle;
}

.tires select,
.drives select {
    width: 100px;
    margin-left: 3px;
    margin-bottom: 1px;
}

.smol-color {
    color: #77858b;
    font: 9px Arial, Tahoma, sans-serif;;
    letter-spacing: 0.25px;
}

select.year {
    width: 60px;
}

.section-center {
    width: 190px;
    height: 134px;
    background-color: #fff;
    border: 1px solid #9c9c9d;
    box-shadow: 0 5px 5px 0 #686868;
    border-radius: 17px;
}

.title-center {
    color: #114165;
    margin: 2px 0 7px 7px;
    font: 800 10px Arial, Tahoma, sans-serif;
    letter-spacing: 0.4px;
}

.search-tires {
    width: 180px;
}

.search-tires label {
    margin: 7px 6px 4px 14px;
    font-size: 10px;
    display: inline-block;
    letter-spacing: 0.6px;
}

.size1 {
    width: 50px;
}

.size2 {
    width: 45px;
}

.radius {
    padding-left: 29px;
    font: 11px Arial, Tahoma sans-serif;
}
.section-center span {
    font-size: 16px;
    font-weight: 900;
    display: inline-block;
}

.float-rl {
    margin: 3px 0 0 14px;
    float: left;
    font-size: 10px;
    letter-spacing: 0.6px;
}

.checb label {
    margin: 0;
    padding: 0;
    font-size: 12px;
    display: block;
}

.checb input {
    margin: 1px 1px 0 0;
    padding: 0;
    vertical-align: sub;
}

.checb {
    margin: 2px 0 0 58px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.section-right {
    width: 267px;
    height: 132px;
    background-color: #fff;
    border: 1px solid #9c9c9d;
    box-shadow: 0 5px 5px 0 #686868;
    border-radius: 17px;
}

.title-right {
    color: #114165;
    margin: 2px 0 3px 9px;
    font: 800 10px Arial, Tahoma, sans-serif;
    letter-spacing: 1.2px;
}

.search-drives-left {
    width: 170px;
}

.search-drives-left label {
    width: 87px;
    margin: 0 0 0px 16px;
    font-size: 10px;
    letter-spacing: 1.4px;
    display: inline-block;
    vertical-align: bottom;
}

.search-drives-left .smol-color {
    letter-spacing: 1.4px;
}

.search-drives-right {
    width: 80px;
    margin-top: 2px;
    padding-left: 10px;
    border-left: 1px solid #bdc6ca;
    float: right;
    }

.search-drives-left select {
    width: 57px;
}

.search-drives-right label {
    margin-top: 3px;
    font-size: 10px;
    display: block;
}

.search-drives-right select {
    width: 57px;
}

select.bolt {
    width: 50px;
} 

.section-right button {
    color: #154467;
    margin: 4px 0 0 190px;
    text-decoration: underline;
    background: none;
    border: none;
    font: bold italic 11px Arial, Tahoma, sans-serif;
}

.drives button {
    margin: 8px 0 0 112px;
}
.checb button {
    margin: 0 0 0 58px;
}

.section-right button {
    margin: 4px 0 0 190px;
}

.select button {
    color: #154467;
    text-decoration: underline;
    background: none;
    border: none;
    font: bold italic 11px Arial, Tahoma, sans-serif;
}

.select button:hover {
    text-decoration: none;
    cursor: pointer;
}